@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 80px;
  background-color: #fcb900;
}

.logo-box {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  width: 200px;
}

.nav__link {
  margin-right: 20px;
  font-size: 1.5em;
  color: #000;
}
.nav__link:hover {
  outline: 2px solid black;
}

.main {
  height: 100vh;
  background-image: url(/img/244ca40dc234ff062b813debba45a01f.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  pointer-events: none;
}
.main__text-box {
  position: relative;
  z-index: 1;
  color: #fcb900;
  padding-top: 17%;
}
.main__button-box {
  position: relative;
  z-index: 1;
  margin-top: 20%;
}

.text-item {
  font-size: 1.5em;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.text-item_big {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.button {
  height: 30px;
  width: 290px;
  margin-right: 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
  color: #fcb900;
  background-color: #000;
}
.button:hover {
  color: #000;
  border: 2px solid #000;
  background-color: #fcb900;
}
.button_top {
  width: 150px;
  margin-right: 20px;
}

.product-box-catalog {
  padding-top: 32px;
  padding-bottom: 64px;
}

.product-content {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
}

.product {
  width: 378px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.7s;
  box-sizing: border-box;
}
.product:hover {
  transform: scale(1.1);
  border: 1px solid #000;
  box-sizing: border-box;
}
.product__image_30 {
  width: 20%;
}
.product__image_50 {
  width: 50%;
}
.product__image_100 {
  width: 50%;
}
.product__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 10px 0 12px 0;
  font-style: normal;
}
.product__desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin: 0 0 12px 0;
}
.product__price {
  display: flex;
  gap: 32px;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 15%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.footer {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  align-items: start;
  background-color: #fcb900;
  padding-top: 30px;
}

.contact {
  grid-column: 2;
  grid-row: 1/span 2;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.contact__text {
  font-style: normal;
}
.contact__info {
  font-size: 1.2em;
  font-style: normal;
}

.lower-basement {
  grid-column: 1/span 2;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.lower-basement__list {
  list-style-type: none;
}
.lower-basement__link {
  color: #000;
}
.lower-basement__link:hover {
  outline: 1px solid black;
}

.social-network__icon {
  margin-right: 20px;
  color: #ccc;
}
.social-network__icon:hover path {
  color: #000;
}

.social-network__icon {
  margin-right: 20px;
  color: #ccc;
}
.social-network__icon:hover path {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */